<div class="introOverlay">
    <div class="introBox">
        <div class="introTitle">
            <img src="https://moocwidgets.cc/static/ieye/img/intellieye_logo_edx_h60.png">
            <h1 class="customh1">Welcome to IntelliEye</h1>
        </div>

        <!-- =============================================================== -->
        <!-- INTRODUCTION PARAGRAPH -->
        <!-- =============================================================== -->
        <div class="introContent">
            <p>
                For this course, we offer you IntelliEye, an experimental widget developed at TU Delft. 
                IntelliEye will help you during watching MOOC videos. Whenever you lose focus watching the video playing, 
                IntelliEye will detect it and flash a red border around the video. Once you are focusing on the video again, 
                the flashing will stop. IntelliEye is an automated privacy-aware assistant (i.e. none of the webcam data leaves your computer) 
                for you on the edX platform.
            </p>

            <p>
                The following situations will be detected as inattention during the video watching:
                <ul>
                    <li>You are not facing the screen your webcam is aligned with.</li>
                    <li>You are doing some stuff on the other tabs/windows on your computer.</li>
                </ul>
            </p>       

            <!-- =========================================================== -->
            <!-- TO USE INTELLIEYE -->
            <!-- =========================================================== -->
            <div id="intro-howto-cont">
                <div>
                    <p>
                    To use IntelliEye:
                        <ul>
                            <li>allow the edx site to use your webcam when you are asked to do so,</li>
                            <li>face the camera and watch the video as you normally would.</li>
                        </ul>
                        IntelliEye is developed by TU Delft. Using this widget will be helpful for us to make better inattention-detection widgets in the future. 
                        If you have any questions or feedback, please send an email to
                        <a href="mailto:y.zhao-1@tudelft.nl">y.zhao-1@tudelft.nl</a> or <a href="mailto:y.zhao-1@tudelft.nl">t.robal@tudelft.nl</a>. 
                        <br>
                        <br>
                    </p>
                </div>
                <img src="https://moocwidgets.cc/static/ieye/img/ieye_instructions.png" width="350px">
            </div>

            <!-- =========================================================== -->
            <!-- HOW DOES IT WORK -->
            <!-- =========================================================== -->
            <span class='lm' id='lm1'><h2 class='h2-section'>How does it work?<span id='lm1-text' style='margin-left:5px'>Learn more</span></h2></span>
            <p class='ieye_descr' id='lm1-d'>
            IntelliEye uses your computer webcam, with your permission, and looks for a face frame in the camera feed. 
            Based on detected face frame, IntelliEye can estimate whether you are watching at the video, and then decide to pause/play the video. 
            IntelliEye is <b>privacy aware</b> - no videofeed leaves your computer.            
            <br>
            <img src="https://moocwidgets.cc/static/ieye/img/ieye_instructions3.png" width="400px" style="margin-top:10px">
            </p>

            <!-- =========================================================== -->
            <!-- WHAT DO I NEED TO USE INTELLIEYE -->
            <!-- =========================================================== -->
            <span class='lm' id='lm2'><h2 class='h2-section'>What are required for using IntelliEye?<span id='lm2-text' style='margin-left:5px'>Learn more</span></h2></span>
            <div class='ieye_descr' id='lm2-d'>
                <ul>
                    <li>IntelliEye can only run on laptop and desktop computers. We do not support mobile platforms.</li>
                    <li>You can use IntelliEye with some modern web browsers, e.g., the latest version of Firefox, Opera and Chrome. Internet Explorer, Microsoft Edge and Safari are not supported currently.</li>
                    <li>We need your permission to use the built-in camera or the external camera on your machine. The camera should be aligned with the screen you are watching the video on.</li>
                </ul>                                        
            </div>

            <!-- =========================================================== -->
            <!-- WHAT DO I NEED TO DO TO USE INTELLIEYE -->
            <!-- =========================================================== -->
            <span class='lm' id='lm3'><h2 class='h2-section'>What do I need to do to use IntelliEye?<span id='lm3-text' style='margin-left:5px'>Learn more</span></h2></span>
            <div class='ieye_descr' id='lm3-d'>As Intellieye depends on the face detection in the web camera video feed, you should pay attention to the following:
                <ul>
                    <li>Enable your webcam once asked.</li>
                    <li>Sit normally facing the camera.</li>
                    <li>Try not to put your hand around your face or between your face and the webcam.</li>
                    <li>Try not to lean back or forward heavily.</li>
                    <li>Watch the video as you usually do.</li>
                </ul>
            </div>     
        </div>

        <!-- =============================================================== -->
        <!-- BUTTONS -->
        <!-- =============================================================== -->
        <div class="introInputs">
            <div class="msgButton" id="start_ieye">Enable IntelliEye</div>
            <div class="msgButtonFaded" id="skip_ieye">Disable IntelliEye</div>
            
            <div id='remember_ieye'> For future:
                <input name="r_remember" type="radio" value="no" id='i_dont_remember' checked><label for='i_dont_remember'>Always ask me</label>
                <input name="r_remember" type="radio" value="yes" id='i_remember'><label for='i_remember'>Remember my choice</label>
            </div>

            <i style="display:block;margin-top:20px">To return to this window, or to change the choice you have made here, 
            please click on the <img src="https://moocwidgets.cc/static/ieye/img/intellieye_logo_edx_h60.png" 
            width="20" height:"20" style="vertical-align:middle"> icon above the video.</i>
        </div>
    </div>
</div>

<script>
    $.each($('.lm'), (i, o) => {
        o.onclick = function() {
            var eq_id = $(o).attr('id');
            $('#' + eq_id + '-d').slideToggle();
            var eq_text_id = eq_id + '-text';
            if ($('#' + eq_text_id).text() === 'Learn more') {
                $('#' + eq_text_id).text('Hide');
            } else {
                $('#' + eq_text_id).text('Learn more');
            }
        }
    });

    $('#start_ieye')[0].onclick = function () {
        IEyeController.setChoice(true);
        moocwidget.UI.ieye_intro_hide()
    };

    $('#skip_ieye')[0].onclick = function () {
        IEyeController.setChoice(false);
        moocwidget.UI.ieye_intro_hide()
    };    
</script>
